:root{
  --overlayWidth: 0;
  --overlayHeight: 0;

}
p{
  color: black;
}
.App{
  text-align: center;
}

.guessBar{
  text-transform: uppercase;
  opacity: 0;
}
/* #overlay{
  background-color: darkgrey;
  width: var(--overlayWidth);
  height: var(--overlayHeight);
  border-radius: 1rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index:-1;
} */


